@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

body {
    background-color: #4F709C;
}

.titulo {
    color: #E5D283;
    font-family: 'Roboto', sans-serif;
    padding: 2% 0 1% 0;
    text-align: center;
    font-size: 3rem;
}


.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.paragrafo {
    color: #F0F0F0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.autor {
    color: #213555;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 96%;
    height: 600px;
    position: relative;
}

.galeria__imagens {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    overflow-x: hidden;
}

.botao {
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 3rem;
    border: none;
    opacity: 0.1;
    cursor: pointer;
}

.botao:hover {
    opacity: 1;
}

.botao-esquerda {
    left: 0;
    right: auto;
    bottom: 0;
    background: linear-gradient(to left, transparent, #4F709C)
}

.botao-direita {
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, #4F709C)
}

.imagem {
    filter: grayscale(100%);
    transition: filter 2s;
}

.imagem:hover {
    filter: none;
    cursor: pointer;
}

.imagem-um {
    width: 600px;
}

.imagem-dois, .imagem-tres, .imagem-nove {
    width: 300px;
}

.imagem-quatro {
    width: 220px;
}

.imagem-cinco {
    width: 900px; 
    height: 400px;
}

.imagem-seis {
    width: 530px
}

.imagem-sete, .imagem-oito {
    width: 300px
}

.imagem-nove {
    width: 900px; 
    height: 400px;
}

.imagem-dez {
    width: 270px;
}